<div class="sidebar">
  <!-- Immagine Profilo -->
  <div class="profile">
    <img src="https://it.wikifur.com/w/images/5/55/Duck-picture.jpg" alt="ConzaG" class="profile-img">
    <p>Conza Giuseppe</p>
  </div>

  <!-- Link ai Social -->
  <ul class="social-links">
    <li>
      <a href="https://github.com/NotSoupCarry" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/giuseppeconza/" target="_blank">
        <i class="fab fa-linkedin"></i> 
      </a>
    </li>
    <li>
      <a href="mailto:conzagiuseppee@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
  </ul>

  <!-- Link alle Pagine -->
  <ul class="navigation-links">
    <li>
      <a href="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a href="/about" routerLinkActive="active">About</a>
    </li>
    <li>
      <a href="/experiences" routerLinkActive="active">Esperienze</a>
    </li>
  </ul>
</div>
