<div class="about">
    <h2>About Me</h2>
  
    <section class="hobbies">
      <h3>Hobbies</h3>
      <p>Ho sempre amato giocare ai videogiochi. Sin da quando ero bambino, ricordo di aver giocato sulle prime console Sony, affascinato dall'industria dei videogiochi e da ogni suo aspetto, dal game design alla narrazione e alla tecnologia. Questa passione ha alimentato la mia curiosità e approfondito la mia apprezzamento per come i giochi vengono creati e sviluppati.</p>
      <p>Oltre ai videogiochi, rimango attivo praticando vari sport. Credo nell'importanza di mantenere uno stile di vita sano, e andare in palestra regolarmente mi aiuta a sentirmi bene sia fisicamente che mentalmente. Restare in forma mi dà energia e mi mantiene motivato nella vita quotidiana.</p>
    </section>
  
    <section class="profile">
      <h3>Profilo</h3>
      <p>Lavorare su progetti software reali e studiare in vari corsi mi ha fatto rendere conto di quanto ami la programmazione orientata agli oggetti (OOP) e che perseguire la mia passione per lo sviluppo software è più raggiungibile di quanto pensassi.</p>
      <p>Sperimento e studio continuamente tutto ciò che posso, cercando sempre nuove opportunità per migliorarmi e crescere come sviluppatore.</p>
    </section>
  </div>
  