/* Layout principale */
.container {
    display: flex;
    height: 100vh;
  }
  
  /* Contenuto principale */
  .content {
    margin-left: 400px;
    flex: 1;
    padding: 20px;
    background-color: #c29263; 
    overflow-y: auto;
  }
  
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
}