<div class="experiences">
    <h2>Le mie Esperienze</h2>
  
    <div class="experience">
      <p><strong>Corso Java Back-End</strong><br>6 settimane full-time di corso java-backend<br><em>February 2025 - March 2025</em></p>
    </div>
  
    <div class="experience">
      <p><strong>Full-Stack Developer presso ApsNet Napoli</strong><br>Posizione di junior full-stack developer, dove ho ampliato le mie conoscenze di sviluppo web e sviluppo Android/iOS<br><em>August 2024 - February 2025</em></p>
    </div>
  
    <div class="experience">
      <p><strong>Corso Full-Stack Developer</strong><br>Corso di 6 mesi di 8 ore al giorno su front-end e back-end<br><em>October 2023 - April 2024</em></p>
    </div>
  
    <div class="experience">
      <p><strong>Liceo in materie STEM</strong><br><em>2018 - 2022</em></p>
    </div>
  
    <div class="experience">
      <p><strong>Laurea in Matematica (in corso)</strong><br><em>2022 - (in corso)</em></p>
    </div>
  </div>
  