.home{
    text-align: center;
}

.github-activity {
    text-align: center;
    margin-top: 20px;
  }
  
  .github-activity img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  